# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# special files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.clinerules

# Distribution / packaging
*.egg-info/
dist/
build/
.pytest_cache/

# VS Code
.vscode/
.git*
*.cli*
*.cur*
*.pyc
*.pyo
*.pyd

# Data files
**/feature_folders*
**/slurm_logs*
**/optuna*.db
*perf_logs.txt
*events.out.tfevents.*
logs
test.ipynb
*/logs/*/*
*/inference/*
data/*

logs*
**/raw_data
**/CoREMOF2019
results/*
!results/cgcnn_models/
results/cgcnn_models/*
!results/cgcnn_models/TSD_seed42_cgcnn_raw/version_29/
!results/cgcnn_models/SSD_seed42_cgcnn_raw/version_4/
!results/cgcnn_models/WS24_water_seed42_cgcnn_raw/version_29/
!results/cgcnn_models/WS24_water4_seed42_cgcnn_raw/version_3/
!results/cgcnn_models/WS24_acid_seed42_cgcnn_raw/version_47/
!results/cgcnn_models/WS24_base_seed42_cgcnn_raw/version_0/
!results/cgcnn_models/WS24_boiling_seed42_cgcnn_raw/version_7/
!results/cgcnn_models/TSD_SSD_WS24_water_WS24_water4_WS24_acid_WS24_base_WS24_boiling_seed42_cgcnn_raw/version_24/
!results/cgcnn_models/TSD_SSD_WS24_water_WS24_water4_WS24_acid_WS24_base_WS24_boiling_seed42_att_cgcnn/version_43/
!results/cgcnn_models/TSD_seed42_cgcnn_raw/version_29/
!results/cgcnn_models/SSD_seed42_cgcnn_raw/version_4/
!results/cgcnn_models/WS24_water_seed42_cgcnn_raw/version_29/
!results/cgcnn_models/WS24_water4_seed42_cgcnn_raw/version_3/
!results/cgcnn_models/WS24_acid_seed42_cgcnn_raw/version_47/
!results/cgcnn_models/WS24_base_seed42_cgcnn_raw/version_0/
!results/cgcnn_models/WS24_boiling_seed42_cgcnn_raw/version_7/
!results/cgcnn_models/TSD_SSD_WS24_water_WS24_water4_WS24_acid_WS24_base_WS24_boiling_seed42_cgcnn_raw/version_24/
!results/cgcnn_models/TSD_SSD_WS24_water_WS24_water4_WS24_acid_WS24_base_WS24_boiling_seed42_att_cgcnn/version_43/
!results/cgcnn_models/TSD_SSD_WS24_water_WS24_water4_WS24_acid_WS24_base_WS24_boiling_seed42_att_cgcnn/version_3/
!results/cgcnn_models/TSD_SSD_WS24_water_WS24_water4_WS24_acid_WS24_base_WS24_boiling_seed42_att_cgcnn/version_1/