*/__pycache__/
*.pyc
*.pyo
*.pyd
raw_data
*/feature_folders*
*/slurm_logs*
*/optuna*.db
*perf_logs.txt
*events.out.tfevents.*
test.ipynb
CGCNN_MT/logs/*
!CGCNN_MT/logs/TSD_seed42_cgcnn_raw/version_29/
!CGCNN_MT/logs/SSD_seed42_cgcnn_raw/version_4/
!CGCNN_MT/logs/WS24_water_seed42_cgcnn_raw/version_29/
!CGCNN_MT/logs/WS24_water4_seed42_cgcnn_raw/version_3/
!CGCNN_MT/logs/WS24_acid_seed42_cgcnn_raw/version_47/
!CGCNN_MT/logs/WS24_base_seed42_cgcnn_raw/version_0/
!CGCNN_MT/logs/WS24_boiling_seed42_cgcnn_raw/version_7/
!CGCNN_MT/logs/TSD_SSD_WS24_water_WS24_water4_WS24_acid_WS24_base_WS24_boiling_seed42_cgcnn_raw/version_24/
!CGCNN_MT/logs/TSD_SSD_WS24_water_WS24_water4_WS24_acid_WS24_base_WS24_boiling_seed42_att_cgcnn/version_43/
!CGCNN_MT/logs/TSD_seed42_cgcnn_raw/version_29/
!CGCNN_MT/logs/SSD_seed42_cgcnn_raw/version_4/
!CGCNN_MT/logs/WS24_water_seed42_cgcnn_raw/version_29/
!CGCNN_MT/logs/WS24_water4_seed42_cgcnn_raw/version_3/
!CGCNN_MT/logs/WS24_acid_seed42_cgcnn_raw/version_47/
!CGCNN_MT/logs/WS24_base_seed42_cgcnn_raw/version_0/
!CGCNN_MT/logs/WS24_boiling_seed42_cgcnn_raw/version_7/
!CGCNN_MT/logs/TSD_SSD_WS24_water_WS24_water4_WS24_acid_WS24_base_WS24_boiling_seed42_cgcnn_raw/version_24/
!CGCNN_MT/logs/TSD_SSD_WS24_water_WS24_water4_WS24_acid_WS24_base_WS24_boiling_seed42_att_cgcnn/version_43/
